language: python

git:
  depth: false

python:
  - "3.6"

# jobs:
#   include:
#     # special deploy stage for tag builds ONLY
#     - stage: deploy
#       if: tag IS present
#       script: skip
#       after_script: skip
#       deploy:
#         provider: pypi
#         user: "${PYPI_USERNAME}"
#         password: "${PYPI_PASSWORD}"
#         on:
#           tags: true

before_install:
  - pip install --upgrade pip  # some TravisCI images have outdated pip

install:
  - pip install .[dev]

script:
  - scripts/travisci/check_precommit.sh
  - flake8 --version
  - flake8 src
  - flake8 --exclude=src,docs --extend-ignore=D
  - coverage run -m nose2 -c setup.cfg
  - pushd docs && make html && popd

after_script:
  - coverage xml
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email: false